@{
    Layout = "";
}

<div class="row">
        <div class="col-md-6">
            @await Html.PartialAsync("_OrderStatistics")
        </div>
        <div class="col-md-6">
            @await Html.PartialAsync("_OrderStatistics")
        </div>
</div>