@model EmployeeSettingsModel

<div class="card-body">

    <div class="form-group row">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="DefaultViewMode_OverrideForStore" asp-input="DefaultViewMode" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="DefaultViewMode" />
        </div>
        <div class="col-md-9">
            <nop-select asp-for="DefaultViewMode" asp-items="Model.AvailableViewModes" />
            <span asp-validation-for="DefaultViewMode"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="EmployeeBreadcrumbEnabled_OverrideForStore" asp-input="EmployeeBreadcrumbEnabled" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="EmployeeBreadcrumbEnabled" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="EmployeeBreadcrumbEnabled" />
            <span asp-validation-for="EmployeeBreadcrumbEnabled"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="EnableSpecificationAttributeFiltering_OverrideForStore" asp-input="EnableSpecificationAttributeFiltering" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="EnableSpecificationAttributeFiltering" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="EnableSpecificationAttributeFiltering" />
            <span asp-validation-for="EnableSpecificationAttributeFiltering"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="DisplayAllPicturesOnHumanResourcePages_OverrideForStore" asp-input="DisplayAllPicturesOnHumanResourcePages" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="DisplayAllPicturesOnHumanResourcePages" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="DisplayAllPicturesOnHumanResourcePages" />
            <span asp-validation-for="DisplayAllPicturesOnHumanResourcePages"></span>
        </div>
    </div>

</div>