@model EmployeeSettingsModel

<div class="card-body">

    <div class="form-group row">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="ExportImportEmployeesUsingEmployeeName_OverrideForStore" asp-input="ExportImportEmployeesUsingEmployeeName" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="ExportImportEmployeesUsingEmployeeName" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="ExportImportEmployeesUsingEmployeeName" />
            <span asp-validation-for="ExportImportEmployeesUsingEmployeeName"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="ExportImportAllowDownloadImages_OverrideForStore" asp-input="ExportImportAllowDownloadImages" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="ExportImportAllowDownloadImages" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="ExportImportAllowDownloadImages" />
            <span asp-validation-for="ExportImportAllowDownloadImages"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="ExportImportRelatedEntitiesByName_OverrideForStore" asp-input="ExportImportRelatedEntitiesByName" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="ExportImportRelatedEntitiesByName" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="ExportImportRelatedEntitiesByName" />
            <span asp-validation-for="ExportImportRelatedEntitiesByName"></span>
        </div>
    </div>

</div>